:root {  /* Vamos a crear una paleta de colores  */

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575; 
}

/* con lo de html y lo de body conseguimos que usar rem sea más sencillo */
html {
    font-size: 62.5%;
    box-sizing: border-box; /* con esta linea y la siguiente arreglamos todos los problemas que nos pueda dar
    el box sizing
    si le das de tamaño  a una imagen 450px aunque le apliques padding seguirá midiendo lo mismo */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;  /* 1rem=10px */
    font-family: 'Krub', sans-serif;

}

.titulo{
    text-align: center;
    font-size: 3.8rem;
 
    ;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem; /* así toma 120rem si hay posibilidad, si no, toma el máximo de la pantalla */
  /*   margin: 0 auto; */
    
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;

 /* puedes ponerlo todo en margin, va siguiendo las agujas del reloj, top right bottom left */
   /*  margin: 0 50; */ /* cuando se repiten los valores puedes poner los dos primeros   */
}
.nav-bg {
    background-color: var(--secundario);

}

.navegacion-principal {
    /* background-color: var(--secundario); */
   /* padding: 1rem;  si lo ponemos aquí, el espacio de relleno del link no va a funcionar de forma correcta */
    display: flex;  
    flex-direction: column;
  
}
@media (min-width: 768px) { /* queremos que cuando la resolucion sea mas de 768px se vea diferente */
    .navegacion-principal { /* no hace falta pegarlo todo otra vez porque se hereda */
        flex-direction: row;
        justify-content: space-between;
    } 
}

.navegacion-principal a {
  /*   background-color: var(--primario); */
  padding: 1rem; /* al ponerlo aquí directamente en el link, va a rellenar toda la barra del color al pasar el raton
  ademas de que va a poner el grosor del navegador como le indiquemos */
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700; /* para que esté en negrita (nos descargamos grosor 400 y 700 en google fonts */
}


.navegacion-principal a:hover {   /* para que tenga color cuando pasamos el ratón por encima del link */
    background-color: var(--primario);  
    color: var(--oscuro); /* el color del que se va a poner el enlace al pasar el raton por encima */
}


.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /* para que no se repita la imagen en mosaico */
    background-size: cover; 
}